.Banner {
  margin-bottom: 23px;
  border-radius: 12px;
  width: 966px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--secondary);
  padding: 32px 32px 79px 32px;
  background-repeat: no-repeat;
  background-image: url(../../assets/bannerimg.svg),
    url(../../assets/banner-bg.svg);
  background-position: right bottom, right center;
}
.banner_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 123%;
  color: var(--white);
  width: 331px;
}
.text_block {
  padding: 32px 51px 121px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background: var(--white);
  border-radius: 4px;
  width: 966px;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 133%;
  color: #11142d;
  margin-bottom: 30px;
}
.sub_title {
  font-family: var(--font3);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--text);
  margin-bottom: 6px;
}
.select {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--dark-gray);
  padding: 13px 12px;
  border: 1px solid var(--stroke);
  border-radius: 16px;
  width: 343px;
  position: relative;
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/select-sel.svg);
    transform: translate(0%, -50%);
    top: 50%;
    right: 12px;
  }
}
.sel_block {
  margin-bottom: 24px;
}
.info {
  background-color: var(--gray);
  width: 368px;
  padding: 16px 8px 21px 15px;
  margin-bottom: 34px;
}
.info_title {
  font-family: var(--font3);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--text);
  margin-bottom: 6px;
}
.info_text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--text);
}
.info_textc {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--primary);
}
.info_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.info_wrap3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap {
  display: flex;
  justify-content: space-between;
}
.button {
  border: none;
  border-radius: 14px;
  padding: 7px 8px;
  background-color: var(--primary);
  padding: 7px 131.5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
}
.sub_time {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
  color: #11142d;
}
